Source: netwmpager
Section: x11
Priority: extra
Maintainer: Michal Turek <mixal.turek@users.sf.net>
Build-Depends: debhelper (>= 7), autotools-dev, pkg-config, libxft-dev
Standards-Version: 3.9.5
Homepage: https://github.com/mixalturek/netwmpager

Package: netwmpager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EWMH (NetWM) compatible pager
 Netwmpager is a tiny NetWM / EWMH compatible pager with minimal
 dependencies. It should work with all NetWM compatible window managers,
 tested with Openbox and Pekwm. Transparency requires XComposite support.
