Source: netwmpager
Section: x11
Priority: extra
Maintainer: Michal Turek <mixal.turek@users.sf.net>
Build-Depends: debhelper (>= 7), autotools-dev, pkg-config, libxft-dev
Standards-Version: 3.9.5
Homepage: https://github.com/mixalturek/netwmpager

Package: netwmpager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EWMH (NetWM) compatible pager
 EWMH (NetWM) compatible pager. Works with Openbox and other EWMH
 compliant window managers.
